<header>
    <div class="logo">Making to do list</div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/toDos">All to do list</a></li>
            <li><a href="/toDos">Add New list</a></li>
        </ul>
    </nav>
</header>